<h1>All our flats (<%= @flats.count %>)</h1>

<div class="container">
  <% @flats.each do |flat| %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://picsum.photos/300/180" alt="image placeholder">
      <div class="card-body">
        <h5 class="card-title"><%= flat.name %></h5>
        <p class="card-text"><%= flat.address %></p>
        <p>
          <i class="fa-solid fa-user-group"></i> &nbsp; <%= flat.number_of_guests %>&nbsp;&nbsp;
          <i class="fa-solid fa-euro-sign"></i> &nbsp; <%= flat.price_per_night %>
        </p>
        <span class="link-primary mx-2">More info</span> <span class="link-warning mx-2">Edit</span> <span class="link-danger mx-2">Remove</span>
      </div>
    </div>
  <% end %>
</div>
